<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Public/css/style.css">
    <title>Sage The Seer</title>
</head>
<body>
    <section>
        <h1>Your Fortune</h1>
        <div>
            <!-- Button to go back to homepage -->
            <p>
                <button id="homeBtn">Home Page</button>
            </p>
        </div>
    </section>
</body>
</html>